@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(244 244 244 );
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

#menu-btn:checked + .mobile-menu {
  display: block;
}